html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

#nav-bar {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.nav {
    width: 100%;
    height: 50px;
    z-index: 2;
    position: absolute;
    background-color: #f6983e;
    text-align: center;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.75);
}

.icon {
    display: none;
}

.espaco {
    margin-top: -10px;
    min-width: 11.5%;
}

.logo>center>img {
    width: 12%;
    z-index: 2;
    position: relative;
}

.register {
    width: 100%;
}

.register_container {
    height: 20px;
    position: relative;
    width: 100%;
}

.single-item-rtl {
    margin: 0 auto;
}

.bn {
    font-weight: bolder;
    color: white;
    position: absolute;
    z-index: 1;
    border: none;
    background-color: inherit;
    padding: 10px 28px;
    font-size: 16px;
    background-color: red;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 16vw;
    text-transform: uppercase;
    top: 145px;
    cursor: pointer;
}

.bn:hover {
    background-color: transparent;
    color: red;
    border: 1px solid red;
}

.logo {
    width: 100%;
    margin-top: -148px;
}

.email {
    top: 3px;
    position: relative;
}

.teste {
    margin-top: -13px;
    width: 100%;
}

.teste>li {
    display: inline-block;
    margin-right: 5%;
}

.logo-email {
    top: 13px;
    position: relative;
    width: 45px;
}

.nav-up {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.nav-up>div {
    display: inline-block;
}

.button {
    width: 58%;
    height: 38px;
    background-size: contain;
    background-position: center;
    background-image: url(../../images/botaoContato.png);
    margin-right: 306px;
    background-repeat: no-repeat;
}

.contato {
    position: relative;
    top: 10px;
    left: 13px;
}

.contato_title {
    font-weight: bolder;
    font-size: 8px;
}

.contato_number {
    font-weight: bolder;
    font-size: 14px;
}

.button>ul>li {
    list-style: none;
}

.email_link {
    color: white;
}

.nav-bottom {
    padding: 50px 0vh;
    background-color: #ededed;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    -webkit-box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.32);
}

.menu {
    text-align: center;
    list-style: none;
}

.menu_item {
    margin-top: 28px;
    display: inline-block;
    font-weight: lighter;
    font-size: 20px;
    margin-right: 24px;
}

.item_link {
    color: #871104;
    font-weight: bold;
}