    /*nav bar */
    
    #menu {
        display: none;
        position: absolute;
        left: 75vw;
        background-color: #ededed;
        padding: 7px 20px;
        box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.32);
    }
    
    .menu_item {
        display: block;
        margin-top: 6px;
        font-size: 13px;
    }
    
    .icon {
        display: block;
        z-index: 2;
        left: 89vw;
        font-size: 12px;
        top: 5px;
        position: absolute;
        background-color: #ededed;
        padding: 10px;
        border-radius: 100%;
    }
    
    .nav-bottom {
        position: absolute;
        box-shadow: none;
        background-color: transparent;
    }
    
    .button {
        margin-top: 20px;
        height: 29px;
    }
    
    .contato {
        top: 5px;
    }
    
    .contato_number {
        font-size: 11px;
    }
    
    .email {
        position: absolute;
        right: 15vw;
    }
    
    .logo {
        margin-top: 34px;
    }
    
    .logo-email {
        top: 6px;
        width: 30px;
    }
    
    .email_link {
        font-size: 10px;
    }
    /* Header */
    
    .carousel {
        padding-top: 10px;
    }
    
    .bn {
        top: 43px;
        font-size: 7px;
        padding: 7px 15px;
    }
    
    .slick-prev {
        margin-left: 31px;
    }
    
    .slick-next {
        margin-right: 45px;
    }
    
    .slick-prev,
    .slick-next {
        top: 25%;
        color: #888787;
    }
    
    .slick-dots {
        top: 165px;
    }
    
    .slick-dots li button:before {
        font-size: 8px;
    }
    
    .slick-dots li {
        margin: 0 10px;
        width: 10px;
    }
    /* products */
    
    .products_title>h2 {
        font-size: 20px;
    }
    
    .products_title {
        background-size: cover;
        padding: 5px 0px;
        background-repeat: no-repeat;
    }
    
    .products_subtitle {
        margin: 9px auto 13px auto;
        font-size: 15px;
    }
    
    .cards_container {
        display: block;
    }
    
    .card_image {
        margin: 0 auto;
        width: 50vw;
    }
    
    .card_image>div>div>div>img {
        width: 37vw;
        padding: 70px 27px;
        margin: 0 auto;
    }
    
    .card_image>.slick-prev:before,
    .card_image>.slick-next:before {
        top: 90px;
        position: relative;
    }
    
    .card_arabesco {
        width: 40%;
    }
    
    .arabescoSup {
        width: 25%;
        margin-top: 20px;
    }
    
    .card_text {
        margin: 0 auto;
    }
    
    .slick-active {
        width: 100%;
    }
    
    .card_text {
        width: 100%;
        margin-top: 15px;
    }
    
    .title_item {
        font-size: 17px;
        margin: 5px 0;
    }
    
    .slick-slide>p {
        font-size: 12px;
    }
    
    .card_description {
        margin: 0 auto;
        width: 70% !important;
        left: 2vw;
        position: relative;
    }
    
    .card_description>div>div>div {
        width: 262px;
    }
    
    .pimenta {
        width: 100%;
        top: -90px;
        position: relative;
        text-align: left;
        left: 0;
    }
    
    .pimenta>img {
        width: 110px;
    }
    
    .card_button>button {
        font-size: 12px;
    }
    
    .information {
        top: -312px;
        right: 0;
    }
    
    .information>div>div>div {
        left: 3px;
    }
    
    .info_item {
        font-size: 12px;
    }
    
    .divisoria>img {
        width: 50%;
        top: 50px;
        position: relative;
    }
    /* chat */
    
    #chat {
        top: 35px;
        width: 52%;
        padding: 26px 0px;
        right: -7px;
        margin-bottom: 30px;
    }
    
    #chat>p,
    #chat>h5 {
        top: 29px;
        font-size: 12px;
        right: 0px;
    }
    
    #chat>p {
        top: 25px;
        font-size: 11px;
    }
    
    #chat>h5 {
        top: 38px;
        width: 67%;
        margin: 0 auto;
    }
    
    #chat>div {
        top: 23px;
    }
    
    .news_button>.button_plus {
        font-size: 11px;
        padding: 6px 8px;
        right: 0;
    }
    /* News */
    
    #news {
        bottom: 115px;
    }
    
    .enfeite {
        width: 100%;
    }
    
    .enfeite_container {
        width: 10%;
    }
    
    .news_title>div>h2 {
        font-size: 17px;
    }
    
    .card {
        display: block;
        margin: 50px auto;
        width: 70%;
    }
    
    .news_description {
        font-size: 15px;
    }
    
    .img_item {
        width: 80%;
    }
    /*footer */
    
    .logo_footer>img {
        width: 30%;
    }
    
    .contato>div {
        display: block;
    }
    
    .contact_info {
        margin-left: 0px;
        top: 0;
        font-size: 0.7rem;
        text-align: center;
    }