.carousel {
    padding-top: 10px;
}

.bn {
    top: 43px;
    font-size: 7px;
    padding: 7px 15px;
}

.slick-prev {
    margin-left: 31px;
}

.slick-next {
    margin-right: 45px;
}

.slick-prev,
.slick-next {
    top: 25%;
    color: #888787;
}

.slick-dots {
    top: 165px;
}

.slick-dots li button:before {
    font-size: 8px;
}

.slick-dots li {
    margin: 0 10px;
    width: 10px;
}