.products {
    margin: 50px;
}

.products_title {
    margin-top: -31px;
    padding: 23px 0px;
    background-size: contain;
    background-position: center;
    background-image: url(../../images/barraProdutos.png);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.products_title>h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
}

.description {
    color: grey;
    margin: 40px auto 13px auto;
    text-align: center;
    font-size: 25px;
}

.one-time {
    padding-top: 50px;
    height: 100%;
}

.carousel_product {
    padding: 0px 50px;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0px 15px 29px -11px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    width: 20%;
}

.one-time div {
    height: 100%;
}

.one-time div img {
    z-index: -10;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product_slider {
    text-align: center;
}

.slider_item {
    margin-top: 38px;
    background-color: #239d4a;
    color: white;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 20%;
    border-radius: 4px;
}